---
layout: default
title: index_jp
---
<a href="index.html">English</a> | 日本語
<div class="row">
    <div class="col-sm-9 col-xs-12 column">
        <div class="column-content">
            <h3>ティース ホルガー</h3>
            <h1>THIES Holger</h1>
            <a href="https://www.h.kyoto-u.ac.jp">京都大学大学院 人間・環境学研究科</a> 特定講師 <br/> 
            <a href="https://www.i.h.kyoto-u.ac.jp/">数理情報論分野</a>
            <h2>研究分野</h2>
            <ul>
              <li><a href="http://cca-net.de/">計算可能解析学</a></li>
              <li>計算理論</li>
              <li>精度保証付き数値計算</li>
              <li>計算機援用証明</li>
            </ul>
        </div>
        {% include jp/travel.html  %}
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-sm-3 col-xs-12 column">
      <div id="main-pic" class="column-content column-content-right">
        <img src="images/holgerthies.jpg" alt="Holger Thies" /> 
      </div>
      {% include social.html  %}
    </div>
</div>
<hr>
{% include jp/publications.html  %}
{% include jp/employment.html  %}
{% include jp/education.html  %}
{% include jp/conferences.html  %}
{% include jp/projects.html  %}
<div class="col-sm-12">
  <hr/>
  <h1>リンク</h1>
  <a href="http://www.me.inf.kyushu-u.ac.jp/DSF">Laboratory for Data Science Frontier Research</a> /
  <a href="http://www.me.inf.kyushu-u.ac.jp/">Circuits, Systems, and Communication Networks Laboratory</a> /
  <a href="http://www.graco.c.u-tokyo.ac.jp/">Computing System Research Group, University of Tokyo</a> /
  <a href="http://www3.mathematik.tu-darmstadt.de/en/ags/ag-logik/arbeitsgruppe-logik.html">Logic Group, TU Darmstadt</a> /
  <a href="http://www-imai.is.s.u-tokyo.ac.jp/">Imai Lab, University of Tokyo</a> /
  <a href="http://www.jaist.ac.jp/is/labs/ishihara-lab/www/english/index.html">Ishihara Lab, JAIST</a> /
  <a href="http://complexity.kaist.ac.kr/lab.htm">Complexity and Real Computation Lab, KAIST</a>
</div>
