---
layout: default
---
<div class="row">
    <div class="col-sm-9 col-xs-12 column">
        <div class="column-content">
            <h1>Holger Thies</h1>
            I am a postdoctoral researcher (JSPS Research Fellow PD) at the <a href="http://www.isee.kyushu-u.ac.jp/e/">Department of Informatics, Kyushu University</a>.
            I recently graduated with a PhD from the <a href="http://www.u-tokyo.ac.jp">University of Tokyo</a>, <a href="http://www.c.u-tokyo.ac.jp">Graduate School of Arts and Sciences</a>.
            My supervisor was <a href="http://www.fc.inf.kyushu-u.ac.jp/~kawamura/">Akitoshi Kawamura</a>.
            <h2>Research Interests</h2>
            <ul>
              <li><a href="http://cca-net.de/">Computability and Complexity in Analysis</a></li>
              <li>Validated Numerics</li>
              <li>Algorithms for Exact Real Arithmetic</li>
              <li>Ordinary Differential Equations</li>
            </ul>
        </div>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-sm-3 col-xs-12 column">
      <div id="main-pic" class="column-content column-content-right">
        <img src="images/holgerthies.jpg" alt="Holger Thies" /> 
      </div>
      {% include social.html  %}
    </div>
</div>
<hr>
<div class="col-sm-5">
  <h2>People</h2>
  <ul>
    <li><a href="http://junheecho.com/">Junhee Cho</a></li>
    <li><a href="http://www.graco.c.u-tokyo.ac.jp/~kawamura/">Akitoshi Kawamura</a> (Prof. Dr.)</li>
    <li><a href="http://www.uni-trier.de/?id=3591">Norbert Müller</a> (Prof. Dr.) </li>
    <li><a href="http://forsythia.kr/">Sewon Park</a></li>
    <li><a href="http://www.mathematik.tu-darmstadt.de/~steinberg">Florian Steinberg</a> (Dr.)</li>
    <li><a href="http://m.zie.de">Martin Ziegler</a> (Prof. Dr.)</li>
  </ul>
</div>
<div class="col-sm-7">
  <h2>Places</h2>
  <ul>
    <li><a href="http://www.graco.c.u-tokyo.ac.jp/">Computing System Research Group, University of Tokyo</a></li>
    <li><a href="http://www3.mathematik.tu-darmstadt.de/en/ags/ag-logik/arbeitsgruppe-logik.html">Logic Group, TU Darmstadt</a></li>
    <li><a href="http://www-imai.is.s.u-tokyo.ac.jp/">Imai Lab, University of Tokyo</a></li>
    <li><a href="http://www.jaist.ac.jp/is/labs/ishihara-lab/www/english/index.html">Ishihara Lab, JAIST</a></li>
    <li><a href="http://complexity.kaist.ac.kr/lab.htm">Complexity and Real Computation Lab, KAIST</a></li>
  </ul>
</div>
{% include publications.html  %}
{% include education.html  %}
{% include conferences.html  %}
{% include projects.html  %}
