body {
  padding-top: 50px;
  color: #fff;
  background: #272727; 
}
.nav {float:right;}
.navbar-header h1{font-size:18px; padding:15px; margin:0; color: #fff;}
.column { padding:0 2rem;}
.column-content {padding: 1rem;}
.container {max-width: 100rem; }
.column-content-right {text-align:center;}
.column-content-right img {width:100%; max-width:20rem;}