<div class="col-sm-12">
<hr/>
  <h2>Education</h2>
</div>
<div class= "col-sm-9">
  <div class="education-title">University of Tokyo</div>
  Ph.D. in Computer Science
</div>
<div class="col-sm-3">
  <div class="education-title">09/2015 -  ongoing</div>
</div>
<div class= "col-sm-9">
  <div class="education-title">Darmstadt University of Technology</div>
  MSc. in Mathematics
</div>
<div class="col-sm-3">
  <div class="education-title">04/2013 -  04/2015</div>
</div>
<div class= "col-sm-9">
  <div class="education-title">University of Tokyo</div>
  Exchange Research Student in Computer Science
</div>
<div class="col-sm-3">
  <div class="education-title">10/2013 - 03/2014</div>
</div>
<div class= "col-sm-9">
  <div class="education-title">University of Oslo</div>
  Exchange Student in Mathematics
</div>
<div class="col-sm-3">
  <div class="education-title">08/2011 - 06/2012</div>
</div>
<div class= "col-sm-9">
  <div class="education-title">Darmstadt University of Technology</div>
  BSc. in Mathematics
</div>
<div class="col-sm-3">
  <div class="education-title">10/2009 - 04/2013</div>
</div>
<div class= "col-sm-9">
  <div class="education-title">Darmstadt University of Technology</div>
  BSc. in Computer Science
</div>
<div class="col-sm-3">
  <div class="education-title">10/2008 - 10/2011</div>
</div>
<div class="col-sm-12">
<hr/>
</div>
