<div class="col-sm-12">
  <h2>Education</h2>
</div>
<div class= "col-sm-9">
  <div class="education-title">University of Tokyo</div>
  Ph.D., Graduate School of Arts and Science, Computing Systems Research Group
</div>
<div class="col-sm-3">
  <div class="education-title">09/2015 -  09/2018</div>
</div>
<div class= "col-sm-9">
  <div class="education-title">Darmstadt University of Technology</div>
  MSc., Mathematics with Computer Science
</div>
<div class="col-sm-3">
  <div class="education-title">04/2013 -  04/2015</div>
</div>
<div class= "col-sm-9">
  <div class="education-title">Darmstadt University of Technology</div>
  BSc., Mathematics
</div>
<div class="col-sm-3">
  <div class="education-title">10/2009 - 04/2013</div>
</div>
<div class= "col-sm-9">
  <div class="education-title">Darmstadt University of Technology</div>
  BSc., Computer Science
</div>
<div class="col-sm-3">
  <div class="education-title">10/2008 - 10/2011</div>
</div>
<div class="col-sm-12">
  <hr/>
  <h2>Long-term research stays etc.</h2>
</div>
<div class= "col-sm-9">
  <div class="education-title">University of Tokyo</div>
  Exchange Research Student, Graduate School of Information Science and Technology
</div>
<div class="col-sm-3">
  <div class="education-title">10/2013 - 03/2014</div>
</div>
<div class= "col-sm-9">
  <div class="education-title">University of Oslo</div>
  Exchange Student, Department of Mathematics
</div>
<div class="col-sm-3">
  <div class="education-title">08/2011 - 06/2012</div>
</div>
<div class="col-sm-12">
  <hr/>
</div>
