<div class="col-sm-12">
<h2>Employment</h2>
</div>
<div class= "col-sm-9">
  <div class="education-title">Kyushu University</div>
  Assistant Professor, Department of Informatics
</div>
<div class="col-sm-3">
  <div class="education-title">05/2019 - </div>
</div>
<div class= "col-sm-9">
  <div class="education-title">JSPS Research Fellow (PD)</div>
  Kyushu University
</div>
<div class="col-sm-3">
  <div class="education-title">09/2018 -  05/2019</div>
</div>
<div class= "col-sm-9">
  <div class="education-title">JSPS Research Fellow (DC2)</div>
  University of Tokyo
</div>
<div class="col-sm-3">
  <div class="education-title">04/2018 -  08/2018</div>
</div>
<div class= "col-sm-9">
  <div class="education-title">Researcher (part-time)</div>
  Darmstadt University of Technology
</div>
<div class="col-sm-3">
  <div class="education-title">04/2015 -  08/2015</div>
</div>
<div class="col-sm-12">
  <hr/>
</div>
