<div class="col-sm-12">
  <h2>Research Grants</h2>
  <div class= "col-sm-9">
    <div class="education-title"> Kakenhi Grant-in-Aid for Early-Career Scientists </div>
    <i>Computational complexity and practice of verified and efficient algorithms for dynamical systems</i>,
    Grant number <a target="_blank" href="https://kaken.nii.ac.jp/grant/KAKENHI-PROJECT-20K19744/">20K19744 </a> (Principal Investigator)
  </div>
  <div class="col-sm-3">
    <div class="education-title">04/2020 -  03/2024</div>
  </div>
  <div class= "col-sm-9">
    <div class="education-title">Kakenhi Grant-in-Aid for JSPS Fellows</div>
    <i>Towards efficient solvers for ordinary differential equations in exact real arithmetic</i>,
    Grant number <a target="_blank" href="https://kaken.nii.ac.jp/en/grant/KAKENHI-PROJECT-18J10407">18J10407</a> (Principal Investigator)
  </div>
  <div class="col-sm-3">
    <div class="education-title">04/2018 -  03/2020</div>
  </div>
</div>
<div class="col-sm-12">
  <hr/>
</div>
<div class="col-sm-12">
  <h2>Recent Activities</h2>
  <ul>
    <li>
      Programme Committee member for Continuity, Computability, Constructivity (CCC 2020)
    </li>
    <li>
      Programme Committee member for Computability and Complexity in Analysis (CCA 2020)
    </li>
    <li>
      Reviewer for Computability
    </li>
    <li>
      Subreviewer for COCOA 2019
    </li>
  </ul>
</div>
<div class="col-sm-12">
  <hr/>
</div>
<div class="col-sm-12">
  <h2>Software etc.</h2>
</div>
{% for project in site.data.projects %}
<div class="col-sm-12">
  <h4>{{project.title}}</h4>
  <p>
    {{project.description}}
  </p>
</div>
<div class="col-sm-12">
  <i class="fa fa-globe"></i> <a target="_blank" href="{{project.url}}">Project Page</a>
</div>
{% endfor %}
