<div class="column-content column-content-right">
  <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/hthies" title="LinkedIn">
    <i class="fa fa-linkedin"></i>
  </a>
  <a class="btn btn-social-icon btn-github" href="https://www.github.com/holgerthies" title="GitHub">
    <i class="fa fa-github"></i>
  </a>
  <a class="btn btn-social-icon btn-bitbucket" href="https://bitbucket.org/holgerthies" title="BitBucket">
    <i class="fa fa-bitbucket"></i>
  </a><br/>
  info<em>&#64;</em>holgerthies<em>&#46;</em>com<br/>
  <i class="fa fa-key" aria-hidden="true"></i> <a href="pgp.asc">public PGP key</a> <br/>
  <a href="data_protection.html">Data Protection Declaration</a>
</div>
